
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

#root{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 4em;
    align-self: flex-start;
    margin: 2vh;
}
h2{ 
    font-size: 1.2em;
    margin-left: 2vw;
}
.pokemon{
    align-self: center;
object-fit: cover;
    width:50%;

}
body{
    width: 100%;
    background-image: url(assets/5283517.jpg);
     background-size: cover;
  background-position: center;
  display: flex;
      align-items: center;

}

.Board{
    justify-self: center;
    width: 90%;
    display: grid;
 grid-template-columns:repeat(6, minmax(0, 1fr));  
   padding: 40px;
    gap: 30px;

}
.card{
    width: 13vw;
    border: 1px black solid ;
    display: flex;
    flex-direction: column;
}
.scores{
    display: flex;
    justify-self: center;
    gap: 10vw;
}
.score{
    font-size: 3em;
    font-weight: bolder;
}

  .difficultChooser{
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 7vw;
  }

@media (max-width: 1100px) {
  h1 {
    font-size: 5em;
    
  }
   h2 {
    font-size: 2em;
  }

    .score{
    font-size: 3em;
    font-weight: bolder;
}
.Board{
    justify-self: center;
    width: 90%;
    display: grid;
 grid-template-columns:repeat(2, minmax(0, 1fr));  
   padding: 20px;
    gap: 40px;
justify-items: center;
}
  .card{
    width: 25vw;
    height: auto;
}


}

@media (max-width: 500px) {
      .pokemon{
        width: 70%;
    }
  h1 {
    font-size: 2.2em;
  }
    h2 {
    font-size: 1.2em;
  }
  .score{
    font-size: 1.2em;
    font-weight: bolder;

}.Board{
    justify-self: center;
    width: 100%;
    display: grid;
 grid-template-columns:repeat(4, minmax(0, 1fr));  
   padding: 20px;
    gap: 40px;
justify-items: center;

}

.card{
    width: 21dvw;
    height: auto;
}
}
@media (max-width: 400px) {
    
   h1 {
    font-size: 1.7em;
  }
    h2 {
    font-size: 0.6em;
  }
}
